body {
    margin: 0;
    height: fit-content;
    min-width: 300px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game {
    background-color: chocolate;
    padding: 5%;
    border-radius: 15px;
    border: 1px solid rgb(121, 68, 29);
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(108, 77, 55);
}

div {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input[type=text] {
    margin: 5px;
    padding: 5px;
    height: max-content;
    border-radius: 10px;
}

#grid {
    display: grid;
    width: 100%;
    max-width: 900px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
}

@media screen and (max-width: 1000px) {
    #grid {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 700px) {
    #grid {
        grid-template-columns: 1fr;
    }
}

a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#grid > * {
    border-radius: 15px;
    padding: 15px;
    margin: 15px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    text-align: center;
}