div {
    justify-content: space-around;
}

#result {
    width: 80%;
}

#grid > * {
    aspect-ratio: 1.7;
    border-radius: 5px;
    background-color: rgba(210, 105, 30, 0.6);
}

.countryLicencePlateDetails {
    width: 100px;
    height: 100px;
    background-color: red;
    position: absolute;
}